/* 
 * CSS for fine-tuning Radiant Media Player TV skin 
 */
.rmp-button.rmp-button-hover {
  color: #ff1744;
}

.rmp-overlay-wrapper .rmp-button-hover,
.rmp-ad-container-skip.rmp-button-hover {
  border: 2px solid #ff1744 !important;
}

.rmp-button-hover.rmp-time {
  border: 2px solid #ff1744;
}

/* 
 * When a module is open: keep the control bar visible to 
 * allow remote control navigation on control bar buttons 
 * also hide the play/pause button on top right corner
 */
.rmp-tv.rmp-module-open-ui .rmp-control-bar {
  display: block !important;
  opacity: 1 !important;
  visibility: visible !important;
}

.rmp-tv.rmp-module-open-ui .rmp-handle {
  z-index: auto;
}

.rmp-tv .rmp-module-overlay-icons.rmp-module-overlay-play-pause {
  display: none !important;
}

.rmp-tv .rmp-module-fcc-settings {
  display: none !important;
}

.rmp-tv.rmp-linear-ad-ui .rmp-play-pause {
  display: none !important;
}

.rmp-tv.rmp-linear-ad-ui .rmp-control-bar {
  opacity: 1 !important;
  visibility: visible !important;
}

.rmp-tv .rmp-cc-area {
  bottom: 120px !important;
}

.rmp-tv .rmp-overlay-level {
  height: 60px;
  line-height: 56px;
  width: 344px;
  font-size: 28px;
  margin-left: -172px;
  margin-bottom: 16px;
}

.rmp-tv .rmp-overlay-title {
  margin-top: 16px;
  margin-bottom: 32px;
}

.rmp-tv .rmp-overlay-title-text {
  font-size: 28px;
}

.rmp-tv .rmp-module-overlay .rmp-i {
  font-size: 3.72em;
}

.rmp-tv .rmp-module-overlay-close {
  right: 104px !important;
}
